* {
	font-family: verdana;
	font-size: 10px;
}
*:focus {
	outline: none;
}
body {
	width: fit-content;
	margin: 50px auto;
}
.main-body {
	width: fit-content;
	padding: 10px;
	border: 1px solid #333;
	border-radius: 10px;
}
.heading-container {
	text-align: center;
}
.form-heading {
	font-size: 2.5rem;
	color: #333;
	font-weight: normal;
}
.input-container .input-placeholder {
	position: absolute;
	top: 9px;
	left: 10px;
	font-size: 1.5rem;
	font-family: Arial;
	background: white;
	padding: 0 5px;
	transition: 0.2s;
	pointer-events: none;
	color: #888;
}
.input-placeholder.active {
	top: -8px;
	left: 5px;
	color: black;
	transform: scale(0.8);
}
.name-container {
	display: flex;
	justify-content: space-between;
}
.name-container input {
	width: 185px;
}
.input-container {
	position: relative;
}
input {
	font-size: 1.8rem;
	width: 400px;
	height: 3.5rem;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	border: 1px solid silver;
	border-radius: 3px;
}
input:focus {
	border: 1px solid #888;
}
.register-button {
	display: block;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	width: fit-content;
	padding: 10px 20px;
	margin: 0 auto 0 auto;
	background: #888;
	border: 3px solid white;
	border-radius: 7px;
	cursor: pointer;
}
.register-button:hover {
	color: lime;
	background: white;
	border: 3px solid lime;
	transition: 0.75s;
}
